.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 250px;
    background-color: #ccc;
}
.login-form label {
    margin-bottom: 10px;
}

.login-form button {
    border: none;
    width: 250px;

}